.Joke {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.Joke-buttons {
    display: flex;
    align-items: center;
    width: 72px;
}

.Joke-text {
    width: 100%;
    font-size: 1rem;
}

.Joke-votes {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

button#like:hover {
    animation-name: move-up;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

button#dislike:hover {
    animation-name: move-down;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

@keyframes move-up {
    0%, 50%, 100% { transform: translateY(0);}
    25%, 75% { transform: translateY(-3px); }
}

@keyframes move-down {
    0%, 50%, 100% { transform: translateY(0); }
    25%, 75% { transform: translateY(3px); }
}

.Joke-smiley {
  font-size: 3rem;
  margin-left: auto;
}

.Joke-smiley:hover {
  animation-name: spin;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  30% { transform: rotate(20deg); }
  60% { transform: rotate(0deg); }
  80% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}