$color-main: #779ECB;
$color-main-a1: #3E5D80;
$color-main-a2: #B0D5FF;
$color-main-a3: #806332;
$color-main-a4: #CCAE78;

body { background-image: linear-gradient(60deg, $color-main-a3, $color-main-a4) }

button { background-color: transparent; border: none; }